beautifulsoup4==4.7.1
bs4==0.0.1
Camelot==12.6.29
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
distro==1.4.0
Elixir==0.7.1
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.3
openpyxl==2.6.2
pandas==0.24.2
pathlib==1.0.1
pbr==5.2.0
pdfminer.six==20181108
pycryptodome==3.8.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.1
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
tabula-py==1.3.1
Tempita==0.5.2
urllib3==1.24.3
xlrd==0.7.1
xlwt==0.7.2
